<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    登录
    <!-- method默认为get -->
    <!-- <form class="" action="/login" method="get"> -->
    <form class="" action="/login" method="post">

      <label for="">
        Email: <input type="text" name="email" value="">
      </label>
      <label for="">
        Password: <input type="password" name="password" value="">
      </label>
      <label for="">
        Submit: <input type="submit" name="submit" value="提交">
      </label>
    </form>
  </body>
</html>
