<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="https://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<style media="screen">
  tr td {
    width: 50px;
    height: 30px;
    border: 1px solid #ccc;
  }
</style>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

<h1 ng-repeat="x in records">{{x}}</h1>
<!-- <ul>
  <li ng-repeat="dish in dishes">
    {{ dish.name }}
      <div ng-repeat="comments in dish.comments track by $index">
          <p ng-repeat="list in comments.list">
            {{ list.map }}
          </p>
      </div>
  </li>
</ul> -->
<table>
  <tbody>
    <tr ng-repeat="dish in dishes">
      <td ng-repeat="comments in dish.comments">
        <span ng-repeat="list in comments.list">{{ list.map }}</span>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<table>
  <tbody>
    <tr ng-repeat="dish in dishes">
      <td ng-repeat="comments in dish.comments">
        {{ comments.relist }}
      </td>
    </tr>
  </tbody>
</table>

<script>
var app = angular.module("myApp", []);
var self = this
var arr = []
self.dishes = [
             {
                 name: 'Uthapizza',
                 image: 'images/uthapizza.png',
                 category: 'mains',
                 label: 'Hot',
                 price: '4.99',
                 description: 'A unique combination of Indian Uthappam (pancake) and Italian pizza, topped with Cerignola olives, ripe vine cherry tomatoes, Vidalia onion, Guntur chillies and Buffalo Paneer.',
                 comments: [
                   {
                       rating: 5,
                       comment: "Imagine all the eatables, living in conFusion!",
                       author: "John Lemon",
                       date: "2012-10-16T17:57:28.556094Z",
                       "list": [
                         {
                           "list": null,
                           "conf": null,
                           "busStatisData": null,
                           "map": "map"
                         },
                         {
                           "list": null,
                           "conf": null,
                           "busStatisData": null,
                           "map": "map"
                         }
                       ]
                   },
                   {
                       rating: 4,
                       comment: "Sends anyone to heaven, I wish I could get my mother-in-law to eat it!",
                       author: "Paul McVites",
                       date: "2014-09-05T17:57:28.556094Z",
                       "list": [
                         {
                           "list": null,
                           "conf": null,
                           "busStatisData": null,
                           "map": "map"
                         },
                         {
                           "list": null,
                           "conf": null,
                           "busStatisData": null,
                           "map": "map"
                         }
                       ]
                   },
                   {
                       rating: 3,
                       comment: "Eat it, just eat it!",
                       author: "Michael Jaikishan",
                       date: "2015-02-13T17:57:28.556094Z",
                       "list": [
                         {
                           "list": null,
                           "conf": null,
                           "busStatisData": null,
                           "map": "map"
                         },
                         {
                           "list": null,
                           "conf": null,
                           "busStatisData": null,
                           "map": "map"
                         }
                       ]
                   },
                   {
                       rating: 4,
                       comment: "Ultimate, Reaching for the stars!",
                       author: "Ringo Starry",
                       date: "2013-12-02T17:57:28.556094Z",
                       "list": [
                         {
                           "list": null,
                           "conf": null,
                           "busStatisData": null,
                           "map": "map"
                         },
                         {
                           "list": null,
                           "conf": null,
                           "busStatisData": null,
                           "map": "map"
                         }
                       ]
                   },
                   {
                       rating: 2,
                       comment: "It's your birthday, we're gonna party!",
                       author: "25 Cent",
                       date: "2011-12-02T17:57:28.556094Z",
                       "list": [
                         {
                           "list": null,
                           "conf": null,
                           "busStatisData": null,
                           "map": "map"
                         },
                         {
                           "list": null,
                           "conf": null,
                           "busStatisData": null,
                           "map": "map"
                         }
                       ]
                   }

               ]
             },
             {
                 name: 'Uthapizza',
                 image: 'images/uthapizza.png',
                 category: 'mains',
                 label: 'Hot',
                 price: '4.99',
                 description: 'A unique combination of Indian Uthappam (pancake) and Italian pizza, topped with Cerignola olives, ripe vine cherry tomatoes, Vidalia onion, Guntur chillies and Buffalo Paneer.',
                 comments: [
                   {
                       rating: 5,
                       comment: "Imagine all the eatables, living in conFusion!",
                       author: "John Lemon",
                       date: "2012-10-16T17:57:28.556094Z",
                       "list": [
                         {
                           "list": null,
                           "conf": null,
                           "busStatisData": null,
                           "map": "map"
                         },
                         {
                           "list": null,
                           "conf": null,
                           "busStatisData": null,
                           "map": "map"
                         }
                       ]
                      //  list:
                   },
                   {
                       rating: 4,
                       comment: "Sends anyone to heaven, I wish I could get my mother-in-law to eat it!",
                       author: "Paul McVites",
                       date: "2014-09-05T17:57:28.556094Z",
                       "list": [
                         {
                           "list": null,
                           "conf": null,
                           "busStatisData": null,
                           "map": "map"
                         },
                         {
                           "list": null,
                           "conf": null,
                           "busStatisData": null,
                           "map": "map"
                         }
                       ]
                   },
                   {
                       rating: 3,
                       comment: "Eat it, just eat it!",
                       author: "Michael Jaikishan",
                       date: "2015-02-13T17:57:28.556094Z",
                       "list": [
                         {
                           "list": null,
                           "conf": null,
                           "busStatisData": null,
                           "map": "map"
                         },
                         {
                           "list": null,
                           "conf": null,
                           "busStatisData": null,
                           "map": "map"
                         }
                       ]
                   },
                   {
                       rating: 4,
                       comment: "Ultimate, Reaching for the stars!",
                       author: "Ringo Starry",
                       date: "2013-12-02T17:57:28.556094Z",
                       "list": [
                         {
                           "list": null,
                           "conf": null,
                           "busStatisData": null,
                           "map": "map"
                         },
                         {
                           "list": null,
                           "conf": null,
                           "busStatisData": null,
                           "map": "map"
                         }
                       ]
                   },
                   {
                       rating: 2,
                       comment: "It's your birthday, we're gonna party!",
                       author: "25 Cent",
                       date: "2011-12-02T17:57:28.556094Z",
                       "list": [
                         {
                           "list": null,
                           "conf": null,
                           "busStatisData": null,
                           "map": "map"
                         },
                         {
                           "list": null,
                           "conf": null,
                           "busStatisData": null,
                           "map": "map"
                         }
                       ]
                   }

               ]
             }


            ];

for (var i = 0; i < self.dishes.length; i++) {
  for (var j = 0; j < self.dishes[i].comments.length; j++) {
    for (var n = 0; n < self.dishes[i].comments[j].list.length; n++) {
      arr.push(self.dishes[i].comments[j].list[n])
    }
    self.dishes[i].comments[j].relist = arr;
  }
}

app.controller("myCtrl", function($scope) {
  $scope.records = [
    "菜鸟教程1",
    "菜鸟教程2",
    "菜鸟教程3",
    "菜鸟教程4",
  ]
  $scope.dishes = [
               {
                   name: 'Uthapizza',
                   image: 'images/uthapizza.png',
                   category: 'mains',
                   label: 'Hot',
                   price: '4.99',
                   description: 'A unique combination of Indian Uthappam (pancake) and Italian pizza, topped with Cerignola olives, ripe vine cherry tomatoes, Vidalia onion, Guntur chillies and Buffalo Paneer.',
                   comments: [
                     {
                         rating: 5,
                         comment: "Imagine all the eatables, living in conFusion!",
                         author: "John Lemon",
                         date: "2012-10-16T17:57:28.556094Z",
                         "list": [
                           {
                             "list": null,
                             "conf": null,
                             "busStatisData": null,
                             "map": "map"
                           },
                           {
                             "list": null,
                             "conf": null,
                             "busStatisData": null,
                             "map": "map"
                           }
                         ]
                     },
                     {
                         rating: 4,
                         comment: "Sends anyone to heaven, I wish I could get my mother-in-law to eat it!",
                         author: "Paul McVites",
                         date: "2014-09-05T17:57:28.556094Z",
                         "list": [
                           {
                             "list": null,
                             "conf": null,
                             "busStatisData": null,
                             "map": "map"
                           },
                           {
                             "list": null,
                             "conf": null,
                             "busStatisData": null,
                             "map": "map"
                           }
                         ]
                     },
                     {
                         rating: 3,
                         comment: "Eat it, just eat it!",
                         author: "Michael Jaikishan",
                         date: "2015-02-13T17:57:28.556094Z",
                         "list": [
                           {
                             "list": null,
                             "conf": null,
                             "busStatisData": null,
                             "map": "map"
                           },
                           {
                             "list": null,
                             "conf": null,
                             "busStatisData": null,
                             "map": "map"
                           }
                         ]
                     },
                     {
                         rating: 4,
                         comment: "Ultimate, Reaching for the stars!",
                         author: "Ringo Starry",
                         date: "2013-12-02T17:57:28.556094Z",
                         "list": [
                           {
                             "list": null,
                             "conf": null,
                             "busStatisData": null,
                             "map": "map"
                           },
                           {
                             "list": null,
                             "conf": null,
                             "busStatisData": null,
                             "map": "map"
                           }
                         ]
                     },
                     {
                         rating: 2,
                         comment: "It's your birthday, we're gonna party!",
                         author: "25 Cent",
                         date: "2011-12-02T17:57:28.556094Z",
                         "list": [
                           {
                             "list": null,
                             "conf": null,
                             "busStatisData": null,
                             "map": "map"
                           },
                           {
                             "list": null,
                             "conf": null,
                             "busStatisData": null,
                             "map": "map"
                           }
                         ]
                     }

                 ]
               },
               {
                   name: 'Uthapizza',
                   image: 'images/uthapizza.png',
                   category: 'mains',
                   label: 'Hot',
                   price: '4.99',
                   description: 'A unique combination of Indian Uthappam (pancake) and Italian pizza, topped with Cerignola olives, ripe vine cherry tomatoes, Vidalia onion, Guntur chillies and Buffalo Paneer.',
                   comments: [
                     {
                         rating: 5,
                         comment: "Imagine all the eatables, living in conFusion!",
                         author: "John Lemon",
                         date: "2012-10-16T17:57:28.556094Z",
                         "list": [
                           {
                             "list": null,
                             "conf": null,
                             "busStatisData": null,
                             "map": "map"
                           },
                           {
                             "list": null,
                             "conf": null,
                             "busStatisData": null,
                             "map": "map"
                           }
                         ]
                        //  list:
                     },
                     {
                         rating: 4,
                         comment: "Sends anyone to heaven, I wish I could get my mother-in-law to eat it!",
                         author: "Paul McVites",
                         date: "2014-09-05T17:57:28.556094Z",
                         "list": [
                           {
                             "list": null,
                             "conf": null,
                             "busStatisData": null,
                             "map": "map"
                           },
                           {
                             "list": null,
                             "conf": null,
                             "busStatisData": null,
                             "map": "map"
                           }
                         ]
                     },
                     {
                         rating: 3,
                         comment: "Eat it, just eat it!",
                         author: "Michael Jaikishan",
                         date: "2015-02-13T17:57:28.556094Z",
                         "list": [
                           {
                             "list": null,
                             "conf": null,
                             "busStatisData": null,
                             "map": "map"
                           },
                           {
                             "list": null,
                             "conf": null,
                             "busStatisData": null,
                             "map": "map"
                           }
                         ]
                     },
                     {
                         rating: 4,
                         comment: "Ultimate, Reaching for the stars!",
                         author: "Ringo Starry",
                         date: "2013-12-02T17:57:28.556094Z",
                         "list": [
                           {
                             "list": null,
                             "conf": null,
                             "busStatisData": null,
                             "map": "map"
                           },
                           {
                             "list": null,
                             "conf": null,
                             "busStatisData": null,
                             "map": "map"
                           }
                         ]
                     },
                     {
                         rating: 2,
                         comment: "It's your birthday, we're gonna party!",
                         author: "25 Cent",
                         date: "2011-12-02T17:57:28.556094Z",
                         "list": [
                           {
                             "list": null,
                             "conf": null,
                             "busStatisData": null,
                             "map": "map"
                           },
                           {
                             "list": null,
                             "conf": null,
                             "busStatisData": null,
                             "map": "map"
                           }
                         ]
                     }

                 ]
               }


              ];


});
</script>

</body>
</html>
